@font-face {
  font-family: 'Roboto', monospace;
       url(Roboto-Regular.ttf) format('truetype');
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
}

.dark-theme { /* used for body class */
  filter: invert(100%) hue-rotate(180deg);
  background-color: #111;
}

.dark-theme img, .dark-theme video, .dark-theme iframe, .dark-theme
.onoffswitch-label, .dark-theme code, .dark-theme footer {
    filter: invert(100%) hue-rotate(180deg);
}

#article img {
  width: 100%;
}

a {
  text-decoration:none!important;
  color: #3164FA;
}

blockquote {
  background: #f9f9f9;
  border-left: 8px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}


h1,h2, h3, h4, h5 {
  /* border-bottom: 1px solid #cccccc; */
  padding-top: 20px;
}

#mainNav {
  height:60px;
  font-size:18px;
  /* background-image: linear-gradient(to right, #f0f2ff, #e8f6ff); */
  background: #F5F8FF;
  color: #3d4556;
  /* text-transform:uppercase; */
  /* border-bottom: 3px solid; */
  /* border-image: linear-gradient(to right, #0085ff, #01e1f8) 1; */
}

.card {
  margin-top: 15px;
}

footer{
  /* bottom: 0; */
  width: 100%;
  background: #3164FA;
  color: #ffffff;
}

.postThumb {
  color:#000000;
  text-decoration:none;
  margin:20px;
  border: 2px solid #F5F8FF;
  border-radius: 12px;
  box-shadow: 0px 10px 20px rgba(31, 41, 51, 0.04), 0px 2px 6px rgba(31, 41, 51, 0.04), 0px 0px 1px rgba(31, 41, 51, 0.04);
}
.postThumb:hover {
  background: #f9f9f9;
}

/* switch button */
.onoffswitch {
   position: relative; width: 46px;
   -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
   display: none;
}
.onoffswitch-label {
   display: block; overflow: hidden; cursor: pointer;
   height: 20px; padding: 0; line-height: 20px;
   border: 2px solid #FFFFFF; border-radius: 20px;
   background-color: #9E9E9E;
   transition: background-color 0.3s ease-in;
   margin-bottom: 0;
}
.onoffswitch-label:before {
   content: "";
   display: block; width: 20px; margin: 0px;
   background: #FFFFFF;
   position: absolute; top: 0; bottom: 0;
   right: 24px;
   border: 2px solid #FFFFFF; border-radius: 20px;
   transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
   background-color: #3164FA;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
   border-color: #3164FA;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
   right: 0px;
}

table{
  margin: 10px;
}
table, th, td {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px hsla(210,18%,87%,1) solid;
}
